.navbar-default {
    background-color: #23282D;
    border-color: #171819;
    color: #00a8ff;
}

a.navbar-brand, a.navbar-default {
    color: #00a8ff;
}

body {
    background-color: #171819;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff
}

.container {
    color: #b1b1b1;
}

a {
    color: #00a8ff;
}


h3 :not(pre){
    color: #00a8ff;
}

.form-control, .select2-results {
    background-color: #464B50;
    color: #fff
}


p.skill_desc {
    text-align: justify;
    text-justify: inter-word;
}



td :not(pre) {
    color: #b1b1b1;
}

.error {
    color: red;
}


.select2-selection__rendered {
    background-color: #464B50;
    color: #fff;
}


.select2-container--default {
    background-color: #fff;
}

.select2-selection__choice__remove {
    color: #000;
}

.select2-selection__choice select2-selection__choice__remove{
    color: #fff;
    background-color: #b1b1b1;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select2-selection__choice {
    color: #000;
    background-color: #171819;
}

select2-results__option {
    background-color: #171819;
}

.select2-container--default .select2-results__option[aria-selected="true"] {
    background-color: #171819;
}

.select2-container--default .select2-selection--multiple {
    background-color: #464B50;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    color: #00a8ff;
    background-color: #171819;
}

.message td a {
    display: block;
    color: #b1b1b1;
}

.message td a:hover {
    text-decoration:none;
    font-weight:normal;
}

.unread {
    font-weight: bold;
    background-color: #464B50;
}


.unread td a:hover :not(pre) {
    text-decoration:none;
    font-weight:bold;
}

.table :not(pre) {
    color: #00a8ff;
    background-color: #23282d;
}

body {
    font-size: 1.4em;
}

.h3, h3 {
    font-size: 2em;
}

a.navbar-brand {
    font-size: 1.5em;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #ffffff
}

.select2-search__field {
    color: #ffffff;
    background-color: #464B50
}
